body,
html {
	height: 100vh;
	margin: 0;
	padding: 0;
	background: black;
}

.navWrap{
	display: flex;
	align-items: center;
	position: absolute;
	width: 95%;
	margin: 2%;
	justify-content: space-between;
}

img.shuffleImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#image1,
#image3 {
	bottom: 40vh;
}
#image2 {
	top: 40vh;
}

.imageContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin: 2vh 0;
}

#gameName{
    color: white;
    letter-spacing: 0.5vw;
    font-weight: 900;
    margin: 0;
    font-size: 4vw;
    font-family: Chiller;
}

.playground {
	display: flex;
	height: 89vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.imageBox {
	position: relative;
	zoom: 0.5;
	box-sizing: border-box;
	width: 28vw;
	height: 25vh;
	background-size: cover;
	background-position: center;
	background-image: url(../images/bg2.jpg);
}

.imageBox:hover {
	border-radius: 2vh;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 5px 5px 20px 5px #ffffff4f;
	transition-duration: 0.4s;
	cursor: pointer;
}

.borderChange {
	border: solid 6px #ffffff8f !important;
}

.answerBorder {
	border: solid 6px #a4927166 !important;
}

.result {
	font-size: 4vw;
	font-weight: bolder;
	color: white;
	letter-spacing: 3px;
	font-family: Jokerman, sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
}

.commands {
	font-size: 4vw;
	color: beige;
	letter-spacing: 3px;
	font-family: Jokerman, sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
}
.buttonsContainer button {
	color: white;
	outline: none;
	background: transparent;
	letter-spacing: 3px;
	padding: 5px 5px;
	border: 2px solid;
	font-size: 3vw;
	font-family: Jokerman, sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
}


.buttonsContainer button:hover {
	outline: none;
	background: white;
	color: inherit;
    border-radius: 1vw;
    transition-duration: 0.8s;
}

progress[value] {
  border-radius: 1px;
}

progress{
	height:30px;
	border: ridge;
	border-bottom: 0;
	border-right: 0;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(top, 
	                           rgb(255, 255, 255), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #f5deb3bf, #000000e8);
border-top-right-radius:9px;
    background-size:cover;
}
.scoreLabel{
	color: white;
	font-family: chiller;
	font-size: 3.5vw;
	letter-spacing: 2px;
	margin-right: 7px;
}

.scoreContainer {
    align-items: center;
    display: flex;
}

progress:hover {
    box-shadow: -6px -5px 20px 2px #916b6b;
    transition-duration: 0.3s;
}

nav {
    padding: -4px;
    width: 100%;
}

.footerButtons {
    padding: 1.5vw;
    width: 3vw;
    color: white;
    border: solid;
    background: inherit;
    cursor: default;
    height: 3vw;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footerButtons:hover {
    transition-duration: 0.9s;
}

footer {
    position: fixed;
    width: 100%;
    background: inherit;
}

.footerWrap {
    display: flex;
    justify-content: space-evenly;
}