body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	background: black;
}

img.shuffleImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#image1,
#image3 {
	bottom: 40vh;
}
#image2 {
	top: 40vh;
}

.imageContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin: 2vh 0;
}

#gameName{
    color: white;
    padding: 0;
	margin: 2vw;
	letter-spacing: 0.5vw;
	font-size: 4vw;
	font-family: Chiller
}

.playground {
	display: flex;
	height: 95vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.imageBox {
	position: relative;
	zoom: 0.5;
	width: 28vw;
	height: 25vh;
	background-image: url(../images/duke.jpg);
}

.imageBox:hover {
	border-radius: 2vh;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 5px 5px 20px 5px #ffffff4f;
	transition-duration: 0.4s;
}

.borderChange {
	border: solid 6px #bfa9a1b8 !important;
}

.answerBorder {
	border: solid 6px #695f4d !important;
}

.result {
	font-size: 5vw;
	font-weight: bolder;
	color: white;
	letter-spacing: 3px;
	font-family: Jokerman, sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
}

.commands {
	font-size: 4vw;
	color: wheat;
	letter-spacing: 3px;
	font-family: Jokerman, sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
}
button {
	color: white;
	outline: none;
	background: transparent;
	letter-spacing: 3px;
	padding: 5px 5px;
	border: 2px solid;
	font-size: 3vw;
	font-family: Jokerman, sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
}


button:hover {
    background: white;
    color: black;
    transition-duration: 1s;
}